[submodule "Mission2/databases"]
	path = Mission2/databases
    url = git@github.com:Sarinco/databases.git
[submodule "LINFO2172-Database-Project3"]
	path = LINFO2172-Database-Project3
	url = git@github.com:GigaUltimatumXVI/LINFO2172-Database-Project3.git
